
.content .categories{line-height:50px;}
.categories ul{font-size:0;border-bottom:1px solid #ddd;}
.categories ul li{display:inline-block;}
.categories ul li a{padding:6px 16px;}
.categories ul li a:hover,.categories ul li.active a{background:#2661a3;color:#fff;}

